@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

.title {
  #title-name {
    font-size: 30px;
    font-family: "Caveat", cursive;
  }

  #title-qualification {
    font-size: 30px;
  }
}
