.to-list {
  background-color: #ffe68c;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 20px;

  #title-header {
    height: 20vh;
    padding: 10px 70px;
  }

  #skill-hobby-description {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
  }
}
