@import "../utils/variable.css";

#header {
  height: 100px;
  background-color: $GREEN_COLOR;
  color: $WHITE_COLOR;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;

  #heading {
    font-size: 40px;
    margin: 10px 200px;
  }

  #search-bar {
    margin: auto;
    font-size: 16px;
    padding: 8px;
    width: 500px;
    border: none;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: $GREY_COLOR;
      opacity: 0.7;
    }
  }
}
